
@{
    ViewBag.Title = "Blog";
}
<link href="~/Areas/Admin/css/button.css" rel="stylesheet" />
<link href="~/Areas/Admin/css/dialog.css" rel="stylesheet" />
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Blogs</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button class="btn btn-primary btn-icon-split" id="btnAdd">
                <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                </span>
                <span class="text">Thêm mới</span>
            </button>
        </div>
        <div class="card-body">
            <div id="data-table">
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin blog</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form>
                <div class="dialog-body">
                    <input type="hidden" id="maBlog" />
                    <div class="">
                        <label class="dialog-label">Tên blog</label>
                        <input type="text" id="txtTenblog" />
                    </div>
                    <div class="item">
                        <label class="dialog-label">Nội dung</label>
                        <textarea rows="5" id="txtNoidung"></textarea>
                    </div>
                    <div class="item">
                        <label class="dialog-label">Ảnh minh họa</label>
                        <div class="file-upload">
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">Chọn file</div>
                                <div class="file-select-name" id="noFile">Chưa có file nào được chọn...</div>
                                <input type="file" name="chooseFile" id="chooseFile">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                <a class="btn btn-primary" id="btn-save">Lưu</a>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- Page level plugins -->
@*<script src="~/Areas/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>*@

<!-- Page level custom scripts -->
<script src="~/Areas/Admin/js/demo/datatables-demo.js"></script>
<script>
    var formmode = null;
    loadData()
    $(document).ready(function () {
        $("#btnAdd").on('click', function (event) {
            event.preventDefault();
            $("#dialog").modal();
            $("#txtTenblog").val("");
            $("#txtNoidung").val("");
            $(".file-upload").removeClass('active');
            $("#noFile").text("Chưa có file nào được chọn...");
            formmode = "add"
        });
        $("#btn-save").on('click', function (event) {
            event.preventDefault();
            if (!$("#txtTenblog").val()) {
                $("#txtTenblog").addClass('required');
                $("#txtTenblog").focus();
                return;
            }
            if (!$("#txtNoidung").val()) {
                $("#txtNoidung").addClass('required');
                $("#txtNoidung").focus();
                return;
            }
            if ($("#noFile").text()=="Chưa có file nào được chọn...") {
                alert("Chưa có file ảnh nào được chọn!")
                return;
            }
            var obj = {};
            var today = new Date();
            var ngayblog = today.getFullYear() + '-' + String(today.getMonth() + 1) + '-' + today.getDate();
            obj.tenblog = $("#txtTenblog").val();
            obj.ngayblog = ngayblog;
            obj.noidung = $("#txtNoidung").val();
            obj.nguoidungID = 1;
            obj.anhminhhoa = $("#noFile").text();
            debugger
            if (formmode == "add") {
                $.ajax({
                    url: "https://localhost:44315/api/Blog",
                    method: "POST",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (response) {
                    loadData();
                    $("#dialog").modal("hide");
                }).fail(function (response) {

                })
            }
            else {
                $.ajax({
                    url: "https://localhost:44315/api/Blog/" + $("#maBlog").val(),
                    method: "PUT",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (response) {
                    $("#dialog").modal("hide");
                    loadData();
                }).fail(function (response) {

                })
            }
        });
        $('#chooseFile').bind('change', function () {
            var filename = $("#chooseFile").val();
            if (/^\s*$/.test(filename)) {
                $(".file-upload").removeClass('active');
                $("#noFile").text("Chưa có file nào được chọn...");
            }
            else {
                $(".file-upload").addClass('active');
                $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
            }
        });
    });
    function loadData() {
        $("#data-table").empty();
        $.ajax({
            url: "https://localhost:44315/api/Blog",
            method: "GET",
            data: "",
            contentType: "application/json",
            dataType: ""
        }).done(function (response) {
            var table = `<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ảnh minh họa</th>
                            <th>Tên blog</th>
                            <th>Nội dung</th>
                            <th>Tác giả</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ảnh minh họa</th>
                            <th>Tên blog</th>
                            <th>Nội dung</th>
                            <th>Tác giả</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody id="rowblog">`;
            $.each(response, function (index, item) {
                var row = `<tr>
                            <th><div style="padding-top: calc(50% - 118px)"><img src="`+ item.anhminhhoa.trim() + `" alt="" height="236" width="300"></div></th>
                            <th>`+ item.tenblog + `</th>
                            <th>`+ item.noidung + `</th>
                            <th>`+ item.NGUOIDUNG.quyen + `</th>
                            <th style="text-align: center"><a onclick="deleteBlog(`+ item.blogID + `)" href="javascript:void(0)"><i class="fas fa-trash-alt fa-2x" style="color: #ff0000"></i></a></th>
                            <th style="text-align: center"><a onclick="editBlog(`+ item.blogID + `)" href="javascript:void(0)"><i class="fas fa-edit fa-lg fa-2x"></i></a></th>
                        </tr>`;
                table += row;
            })
            table += (`</tbody>
                </table>`);
            $("#data-table").append($(table));
            $('#dataTable').DataTable();
        }).fail(function (respose) {

        })
    }
    function editBlog(blogID) {
        var url = "https://localhost:44315/api/Blog/" + blogID;
        $.ajax({
            url: url,
            method: "GET",
            dataType: "",
            data: "",
            contentType: "application/json"
        }).done(function (response) {
            $("#dialog").modal();
            $("#maBlog").val(response.blogID);
            $("#txtTenblog").val(response.tenblog);
            $("#txtNoidung").val(response.noidung);
            $("#noFile").text(response.anhminhhoa.split("/")[3]);
            $(".file-upload").addClass('active');
        }).fail(function (response) {

        })
    }
    function deleteBlog(blogID) {
        if (confirm("Bạn có chắc muốn xóa blog này?")) {
            debugger
            $.ajax({
                url: "https://localhost:44315/api/Blog/" + blogID,
                method: "delete",
                data: "",
                dataType: "",
                contentType: "application/json",
            }).done(function (response) {
                loadData();
            }).fail(function (response) {
                console.log(response);
            })
        }
    }
</script>