
@{
    ViewBag.Title = "Loaimonan";
}
<link href="~/Areas/Admin/css/button.css" rel="stylesheet" />
<link href="~/Areas/Admin/css/dialog.css" rel="stylesheet" />
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Loại món ăn</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button class="btn btn-primary btn-icon-split" id="btnAdd">
                <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                </span>
                <span class="text">Thêm mới</span>
            </button>
        </div>
        <div class="card-body">
            <div id="data-table">
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin loại món ăn</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form>
                <div class="dialog-body">
                    <input type="hidden" id="loaimonanID" />
                    <div class="">
                        <label class="dialog-label">Tên loại món</label>
                        <input type="text" id="txtTenloaimon" />
                    </div>
                    <div class="item">
                        <label class="dialog-label">Ảnh minh họa</label>
                        <div class="file-upload">
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">Chọn file</div>
                                <div class="file-select-name" id="noFile">Chưa có file nào được chọn...</div>
                                <input type="file" name="chooseFile" id="chooseFile">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                <a class="btn btn-primary" id="btn-save">Lưu</a>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- Page level custom scripts -->
<script>
    var formmode = null;
    loadData()
    $(document).ready(function () {
        $("#btnAdd").on('click', function (event) {
            event.preventDefault();
            $("#dialog").modal();
            $("#txtTenloaimon").val("");
            $(".file-upload").removeClass('active');
            $("#noFile").text("Chưa có file nào được chọn...");
            formmode = "add"
        });
        $("#btn-save").on('click', function (event) {
            event.preventDefault();
            if (!$("#txtTenloaimon").val()) {
                $("#txtTenloaimon").addClass('required');
                $("#txtTenloaimon").focus();
                return;
            }
            if ($("#noFile").text()=="Chưa có file nào được chọn...") {
                alert("Chưa có file ảnh nào được chọn!")
                return;
            }
            var obj = {};
            obj.tenloaimon = $("#txtTenloaimon").val();
            obj.anhminhhoa = $("#noFile").text();
            debugger
            if (formmode == "add") {
                $.ajax({
                    url: "https://localhost:44315/api/loaimonan",
                    method: "POST",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (response) {
                    loadData();
                    $("#dialog").modal("hide");
                }).fail(function (response) {

                })
            }
            else {
                $.ajax({
                    url: "https://localhost:44315/api/loaimonan/" + $("#loaimonanID").val(),
                    method: "PUT",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (response) {
                    $("#dialog").modal("hide");
                }).fail(function (response) {

                })
            }
        });
        $('#chooseFile').bind('change', function () {
            var filename = $("#chooseFile").val();
            if (/^\s*$/.test(filename)) {
                $(".file-upload").removeClass('active');
                $("#noFile").text("Chưa có file nào được chọn...");
            }
            else {
                $(".file-upload").addClass('active');
                $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
            }
        });
    });
    function loadData() {
        $("#data-table").empty();
        $.ajax({
            url: "https://localhost:44315/api/loaimonan",
            method: "GET",
            data: "",
            contentType: "application/json",
            dataType: ""
        }).done(function (response) {
            var table = `<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width: 160px">Ảnh minh họa</th>
                            <th>Tên loại món</th>
                            <th>Số lượng</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th style="width: 160px">Ảnh minh họa</th>
                            <th>Tên loại món</th>
                            <th>Số lượng</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody id="rowblog">`;
            $.each(response, function (index, item) {
                debugger
                var row = `<tr>
                            <th style="width: 160px"><img src="`+ item.anhminhhoa.trim() + `" alt="" height="200"></th>
                            <th>`+ item.tenloaimon + `</th>
                            <th>`+ item.MONANs.length + `</th>
                            <th style="text-align: center"><a onclick="deleteBlog(`+ item.loaimonanID + `)" href="#"><i class="fas fa-trash-alt fa-2x" style="color: #ff0000"></i></a></th>
                            <th style="text-align: center"><a onclick="editBlog(`+ item.loaimonanID + `)" href="#"><i class="fas fa-edit fa-lg fa-2x"></i></a></th>
                        </tr>`;
                table += row;
            })
            table += (`</tbody>
                </table>`);
            $("#data-table").append($(table));
            $('#dataTable').DataTable();
        }).fail(function (respose) {

        })
    }
    function editBlog(loaimonanID) {
        var url = "https://localhost:44315/api/loaimonan/" + loaimonanID;
        $.ajax({
            url: url,
            method: "GET",
            dataType: "",
            data: "",
            contentType: "application/json"
        }).done(function (response) {
            $("#dialog").modal();
            $("#loaimonanID").val(response.loaimonanID);
            $("#txtTenloaimon").val(response.tenblog);
            $("#noFile").text(response.anhminhhoa.split("/")[3]);
            $(".file-upload").addClass('active');
        }).fail(function (response) {

        })
    }
    function deleteBlog(loaimonanID) {
        if (confirm("Thao tác sẽ xóa toàn bộ món ăn trong loại món này. Bạn có chắc muốn xóa?")) {
            debugger
            $.ajax({
                url: "https://localhost:44315/api/loaimonan/" + loaimonanID,
                method: "delete",
                data: "",
                dataType: "",
                contentType: "application/json",
            }).done(function (response) {
                loadData();
            }).fail(function (response) {
                console.log(response);
            })
        }
    }
</script>

