
@{
    ViewBag.Title = "Monan";
}
<link href="~/Areas/Admin/css/button.css" rel="stylesheet" />
<link href="~/Areas/Admin/css/dialog.css" rel="stylesheet" />
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Món ăn</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button class="btn btn-primary btn-icon-split" id="btnAdd">
                <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                </span>
                <span class="text">Thêm mới</span>
            </button>
        </div>
        <div class="card-body">
            <div id="data-table">
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin món ăn</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form>
                <div class="dialog-body">
                    <input type="hidden" id="monanID" />
                    <div class="">
                        <label class="dialog-label">Tên món</label>
                        <input type="text" id="txtTenmonan" />
                    </div>
                    <div class="item">
                        <label class="dialog-label">Mô tả</label>
                        <textarea rows="5" id="txtMota"></textarea>
                    </div>
                    <div class="item">
                        <div class="city-item">
                            <input type="text" id="txtDongia" placeholder="Đơn giá" />
                            <select id="loaimonan">
                                <option value="">Loại món ăn</option>
                            </select>
                        </div>
                    </div>

                    <div class="item">
                        <label class="dialog-label">Ảnh minh họa</label>
                        <div class="file-upload">
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">Chọn file</div>
                                <div class="file-select-name" id="noFile">Chưa có file nào được chọn...</div>
                                <input type="file" name="chooseFile" id="chooseFile">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                <a class="btn btn-primary" id="btn-save">Lưu</a>
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
<!-- Page level custom scripts -->
<script src="~/Scripts/inputFilter.js"></script>
<script>
    var formmode = null;
    loadData()
    $(document).ready(function () {
        $.ajax({
            url: "https://localhost:44315/api/loaimonan",
            method: "GET",
            data: "",
            contentType: "application/json",
            dataType: "",
        }).done(function (res) {
            $.each(res, function (index, item) {
                var option = $(`<option value="` + item.loaimonanID + `">` + item.tenloaimon + `</option>`);
                $("#loaimonan").append(option);
            })
        });
        setInputFilter(document.getElementById("txtDongia"), function (value) {
            return /^-?\d*[.]?\d*$/.test(value);
        });
        $("#btnAdd").on('click', function (event) {
            event.preventDefault();
            $("#dialog").modal();
            $("#txtTenmonan").val("");
            $("#txtMota").val("");
            $("#txtDongia").val("");
            $("#loaimonan").val("");
            $(".file-upload").removeClass('active');
            $("#noFile").text("Chưa có file nào được chọn...");
            formmode = "add"
        });
        $("#btn-save").on('click', function (event) {
            event.preventDefault();
            if (!$("#txtTenmonan").val()) {
                $("#txtTenmonan").addClass('required');
                $("#txtTenmonan").focus();
                return;
            }
            if (!$("#txtMota").val()) {
                $("#txtMota").addClass('required');
                $("#txtMota").focus();
                return;
            }
            if ($("#noFile").text()=="Chưa có file nào được chọn...") {
                alert("Chưa có file ảnh nào được chọn!")
                return;
            }
            var obj = {};
            //var today = new Date();
            //var ngayMonan = today.getFullYear() + '-' + String(today.getMonth() + 1) + '-' + today.getDate();
            obj.tenmonan = $("#txtTenmonan").val();
            obj.mota = $("#txtMota").val();
            obj.loaimonanID = $("#loaimonan").val();
            obj.anhminhhoa = $("#noFile").text();
            obj.dongia = $("#txtDongia").val();
            debugger
            if (formmode == "add") {
                $.ajax({
                    url: "https://localhost:44315/api/Monan",
                    method: "POST",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (response) {
                    loadData();
                    $("#dialog").modal("hide");
                }).fail(function (response) {

                })
            }
            else {
                $.ajax({
                    url: "https://localhost:44315/api/Monan/" + $("#monanID").val(),
                    method: "PUT",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    dataType: "json"
                }).done(function (response) {
                    loadData();
                    $("#dialog").modal("hide");
                }).fail(function (response) {

                })
            }
        });
        $('#chooseFile').bind('change', function () {
            var filename = $("#chooseFile").val();
            if (/^\s*$/.test(filename)) {
                $(".file-upload").removeClass('active');
                $("#noFile").text("Chưa có file nào được chọn...");
            }
            else {
                $(".file-upload").addClass('active');
                $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
            }
        });
    });
    function loadData() {
        $("#data-table").empty();
        $.ajax({
            url: "https://localhost:44315/api/Monan",
            method: "GET",
            data: "",
            contentType: "application/json",
            dataType: ""
        }).done(function (response) {
            var table = `<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ảnh minh họa</th>
                            <th>Tên món</th>
                            <th>Mô tả</th>
                            <th>Đơn giá</th>
                            <th>Loại món</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ảnh minh họa</th>
                            <th>Tên món</th>
                            <th>Mô tả</th>
                            <th>Đơn giá</th>
                            <th>Loại món</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody id="rowMonan">`;
            $.each(response, function (index, item) {
                var row = `<tr>
                            <th><img src="`+ item.anhminhhoa.trim() + `" alt="" height="180" width="310"></th>
                            <th>`+ item.tenmonan + `</th>
                            <th>`+ item.mota + `</th>
                            <th>`+ item.dongia + `</th>
                            <th>`+ item.LOAIMONAN.tenloaimon + `</th>
                            <th style="text-align: center"><a onclick="deleteMonan(`+ item.monanID + `)" href="javascript:void(0)"><i class="fas fa-trash-alt fa-2x" style="color: #ff0000"></i></a></th>
                            <th style="text-align: center"><a onclick="editMonan(`+ item.monanID + `)" href="javascript:void(0)"><i class="fas fa-edit fa-lg fa-2x"></i></a></th>
                        </tr>`;
                table += row;
            })
            table += (`</tbody>
                </table>`);
            $("#data-table").append($(table));
            $('#dataTable').DataTable();
        }).fail(function (respose) {

        })
    }
    function editMonan(monanID) {
        var url = "https://localhost:44315/api/Monan/" + monanID;
        $.ajax({
            url: url,
            method: "GET",
            dataType: "",
            data: "",
            contentType: "application/json"
        }).done(function (response) {
            $("#dialog").modal();
            $("#monanID").val(response.monanID);
            $("#txtTenmonan").val(response.tenmonan);
            $("#txtMota").val(response.mota);
            $("#txtDongia").val(response.dongia);
            $("#loaimonan").val(response.loaimonanID);
            $("#noFile").text(response.anhminhhoa.split("/")[3]);
            $(".file-upload").addClass('active');
        }).fail(function (response) {

        })
    }
    function deleteMonan(monanID) {
        if (confirm("Bạn có chắc muốn xóa món ăn này?")) {
            debugger
            $.ajax({
                url: "https://localhost:44315/api/Monan/" + monanID,
                method: "delete",
                data: "",
                dataType: "",
                contentType: "application/json",
            }).done(function (response) {
                loadData();
            }).fail(function (response) {
                console.log(response);
            })
        }
    }
</script>