
@{
    ViewBag.Title = "Blog";
}

<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Blog</h1>
                <p>Cảm ơn các bạn đã ghé thăm nhà hàng, dưới đây là một số bài viết về các món ăn truyền thống của Việt Nam.</p>
            </div>
        </div>
    </div>
</section>


<section class="blog-page">
    <div class="container">
        <div class="row" id="rowblog">           
            <div class="col-md-8 col-md-offset-2">
                <ul class="page-number">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">&gt;&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Signup for our newsletters</h2>
                </div>
            </div>
        </div>
        <form id="contact" action="" method="get">
            <div class="row">
                <div class="col-md-4 col-md-offset-3">
                    <fieldset>
                        <input name="email" type="text" class="form-control" id="email" placeholder="Enter your email here..." required="">
                    </fieldset>
                </div>
                <div class="col-md-2">
                    <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message</button>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        loadData();
        // navigation click actions
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    function loadData() {
        $.ajax({
            url: "https://localhost:44315/api/blog",
            method: "get",
            contentType: "application/json",
        }).done(function (response) {
            $.each(response, function (index, item) {
                var date = new Date(item.ngayblog);
                var row = $(`<div class="col-md-8 col-md-offset-2">
                <div class="blog-item">
                    <img src="`+item.anhminhhoa+`" alt="" height="400" width="700">
                    <div class="date">`+ ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + date.getFullYear() + `</div>
                    <div class="down-content">
                        <h4>`+item.tenblog+`</h4>
                        <span>`+ item.NGUOIDUNG.username + `/&nbsp;` + item.NGUOIDUNG.quyen + `</span>
                        <p style="display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 4; -webkit-box-orient: vertical">`+item.noidung+`</p>
                        <div class="text-button">
                            <a href="#">XEM TIẾP</a>
                        </div>
                    </div>
                </div>
            </div>`);
                $("#rowblog").prepend(row);
            })
        })
    }
</script>
