@{
    ViewBag.Title = "Home Page";
}
    <script src="~/Scripts/inputFilter.js"></script>

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4>Here you can find delecious foods</h4>
                <h2>Asian Restaurant</h2>
                <p>Quisque nec nibh id lacus fringilla eleifend sed sit amet sem. Donec lectus odio, mollis a nisl non, tempor interdum nisl.</p>
                <div class="primary-button">
                    <a href="#" class="scroll-link" data-id="book-table">Đặt bàn</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cook-delecious">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="first-image">
                    <img src="~/Content/img/cook_01.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="cook-content">
                    <h4>We cook delecious</h4>
                    <div class="contact-content">
                        <span>You can call us on:</span>
                        <h6>+ 1234 567 8910</h6>
                    </div>
                    <span>or</span>
                    <div class="primary-white-button">
                        <a href="#" class="scroll-link" data-id="book-table">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="second-image">
                    <img src="~/Content/img/cook_02.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>



<section class="services">
    <div class="container">
        <div class="row" id="rowservice">
        </div>
    </div>
</section>



<section id="book-table">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Book Your Table Now</h2>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2 col-sm-12">
                <div class="left-image">
                    <img src="~/Content/img/book_left_image.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="right-info">
                    <h4>Reservation</h4>
                    <form id="form-submit" method="post" action="/api/datban/Post">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <input style="margin-top:15px; margin-bottom:15px;" name="ngaydat" type="date" class="form-control" id="name" placeholder="Ngày ăn" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input style="margin-top:15px; margin-bottom:15px;" name="giodat" type="text" class="form-control" id="name" placeholder="Giờ ăn" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6" >
                                <fieldset>
                                    <input style="margin-top:15px; margin-bottom:15px;" name="hoten" type="text" class="form-control" id="name" placeholder="Họ tên khách hàng" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input style="margin-top:15px; margin-bottom:15px;" name="sdt" type="text" class="form-control" id="phone" placeholder="SĐT" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input style="margin-top:15px; margin-bottom:15px;" name="songuoi" type="text" class="form-control" id="songuoi" placeholder="Số người?" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Đặt bàn</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



@*<section class="get-app">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h2>Get application for your phone</h2>
            </div>
            <div class="primary-white-button">
                <a href="#">Download now</a>
            </div>
        </div>
    </div>
</section>*@



<section class="featured-food">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h2>Weekly Featured Food</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="food-item">
                    <h2>Breakfast</h2>
                    <img src="~/Content/img/breakfast_item.jpg" alt="">
                    <div class="price">$4.50</div>
                    <div class="text-content">
                        <h4>Kale Chips Art Party</h4>
                        <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <h2>Lunch</h2>
                    <img src="~/Content/img/lunch_item.jpg" alt="">
                    <div class="price">$7.50</div>
                    <div class="text-content">
                        <h4>Taiyaki Gastro Tousled</h4>
                        <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <h2>Dinner</h2>
                    <img src="~/Content/img/dinner_item.jpg" alt="">
                    <div class="price">$12.50</div>
                    <div class="text-content">
                        <h4>Batch Squid Jean Shorts</h4>
                        <p>Dreamcatcher squid ennui cliche chicharros nes echo  small batch jean shorts hexagon street art knausgaard wolf...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="our-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Our blog post</h2>
                </div>
            </div>
        </div>
        <div class="row" id="rowblog">
        </div>
    </div>
</section>



<section class="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Signup for our newsletters</h2>
                </div>
            </div>
        </div>
        <form id="contact" action="" method="get">
            <div class="row">
                <div class="col-md-4 col-md-offset-3">
                    <fieldset>
                        <input name="email" type="text" class="form-control" id="email" placeholder="Enter your email here..." required="">
                    </fieldset>
                </div>
                <div class="col-md-2">
                    <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message</button>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        loadData()
        //navigation click actions
        $('.scroll-link').on('click', function (event) {
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function (event) {
            event.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed) {
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({ scrollTop: targetOffset }, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function () { }
        };
    }
    function loadData() {
        $.ajax({
            url: "https://localhost:44315/api/blog",
            method: "get",
            contentType: "application/json",
        }).done(function (response) {
            $.each(response, function (index, item) {
                var row = $(`<div class='col-md-6'>
                <div class='blog-post'>
                    <img src='`+ item.anhminhhoa + `' alt=''>
                    <div class='date'>`+ item.ngayblog + `</div>
                    <div class='right-content'>
                        <h4>`+ item.tenblog + `</h4>
                        <span>`+ item.nguoidung + `</span>
                        <p>`+ item.noidung + `</p>
                        <div class='text-button'>
                            <a href='#'>Continue Reading</a>
                        </div>
                    </div>
                </div>
            </div>`);
                $("#rowblog").append(row);
            })
        })
            $.ajax({
            url: "https://localhost:44315/api/loaimonan",
            method: "get",
            contentType: "application/json",
        }).done(function (response) {
            $.each(response, function (index, item) {
                var row = $(`<div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <a href="Home/Menu">
                        <img src="`+ item.anhminhhoa + `" alt="` + item.tenloaimon +`">
                        <h4>`+ item.tenloaimon +`</h4>
                    </a>
                </div>
            </div>`);
                $("#rowservice").append(row);
            })
        })
    }
        setInputFilter(document.getElementById("phone"), function (value) {
        return /^-?\d*[.]?\d*$/.test(value);
    });

</script>
